.alternative__chart__section {
  position: relative;
  background-color: $blue;
  margin-block-start: 50px;
  margin-left: 260px;
  padding: 8px 20px 8px 18px;
  z-index: 1;
  transition: margin-left 300ms ease-in-out;

  @include breakpoint-down(medium) {
    margin-left: 0;
  }

  &.rm {
    margin-left: 0;
  }
}

.alt__cards__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 260px;
  padding: 8px 20px 8px 18px;

  @include breakpoint-down(medium) {
    margin-left: 0;
  }

  .alt__cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;

    .alt__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px,
        rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;
      padding: 24px !important;
      color: $blue;
      opacity: 0.5;

      .left {
        color: $dark-black;
        text-align: right;
        // margin-left: 65px;
        cursor: pointer;
        transition: color 300ms ease-in-out;

        &:hover {
          opacity: 1;
          color: #000;
        }
      }

      .alt__card__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          &:not(:last-child) {
            color: $dark-black;
            font-size: $fs-14;
            font-weight: bold;
          }

          &:not(:first-child) {
            color: $blue;
            font-size: $fs-14;
            font-weight: bold;
          }
        }
      }
    }
  }

  @include breakpoint-up(desktop) {
    flex-direction: row;
    justify-content: space-between;

    .alt__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .alt__chart {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px,
      rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;
    flex: 1;
  }
}
