.crt {
  display: flex;
  flex-direction: column;
  margin-block-start: 33px;

  @include breakpoint-down(medium) {
    margin-block-start: 130px;
  }

  @include breakpoint-down(small) {
    margin-block-start: 30px;
  }

  .crt__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px,
      rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;
    color: $dark-black;
    opacity: 0.5;
    font-size: $fs-14;
    padding: 35px 20px;
    margin-left: 289px;
    margin-right: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: margin-left 300ms ease-in-out;

    button {
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 3px;
      border: none;
      cursor: pointer;

      span {
        background-color: $dark-black;
        width: 8px;
        height: 8px;
        border-radius: 6px;
      }
    }

    &.remove-m-l {
      margin-left: 28px;
    }

    @include breakpoint-down(medium) {
      margin: 0;
      margin-right: 30px;
      margin-left: 30px;
    }
  }

  .chart {
    background-color: $white;
    margin-left: 289px;
    margin-right: 30px;
    transition: margin-left 300ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px,
      rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;

    &.myChart {
      width: 100%;
    }

    &.m-l-c {
      margin-left: 30px;
    }

    @include breakpoint-down(medium) {
      margin: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
