.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-blue;
  margin-left: 260px;
  margin-block-start: 30px;
  height: 64px;

  &.remove_fotter_m {
    margin-left: 0;
  }

  @include breakpoint-down(medium) {
    margin-left: 0;
  }

  button {
    background-color: transparent;
    color: $white;
    opacity: 0.5;
    font-weight: bold;
    border: none;
    margin: 0 30px;
    font-size: $fs-14;
    height: 36.5px;
    cursor: pointer;

    &:nth-child(1) {
      background-color: $orange;
      color: $dark-black;
      opacity: 1;
      width: 119.88px;
      border-radius: 6px;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
