html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffff;
  padding: 0;
  margin: 0;
  font-size: $fs-14;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.3;

  //Stop Scrolling
  &.no-scroll {
    overflow: hidden;

    @include breakpoint-up(large) {
      overflow: auto;
    }
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $white;
  font-size: $fs-14;
  font-weight: 500;
}

//Spacing
.px-16 {
  padding: 8px 16px;
}

.px-8 {
  padding: 8px 8px;
}

//Overlay
.overlay {
  opacity: 0;
  visibility: hidden;
  background-color: $overlay;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  transition: all 300ms ease-in-out;

  &.open-overlay {
    opacity: 1;
    visibility: visible;
  }

  @include breakpoint-up(large) {
    &.hide-overlay {
      opacity: 0;
      visibility: hidden;
    }
  }
}

//Visibilty
