.sidebar__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 111;
  width: 260px;
  background-image: linear-gradient(
      rgba(34, 42, 69, 0.96),
      rgba(34, 42, 69, 0.96)
    ),
    url("../../images/sidebar-bg-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.043) 0px 8px 10px 1px, rgba(0, 0, 0, 0.035) 0px 3px 14px 2px;
  height: 100vh;
  transition: all 300ms ease-in-out 0s;

  @include breakpoint-down(medium) {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.hide {
    left: -999px;
  }

  .sidebar__head {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    padding: 1.5rem;
    background-color: $dark-blue;
    color: $white;
    z-index: 99;

    &.hide__sidebar__head {
      left: -999px;
    }

    .logo__name {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        &:not(:first-child) {
          font-size: $fs-18;
        }

        &:not(:last-child) {
          align-self: center;
        }
      }
    }

    .toggle__main {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $fs-18;
      width: 72px;
      height: 24px;

      span {
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        opacity: 1;
        transition: opacity 300ms ease-in-out;

        &:hover {
          opacity: 0.95;
        }
      }

      .move {
        position: absolute;
        right: 0;
      }
    }
  }

  .sidebar__head__content {
    margin-block-start: 50px;

    .head__content__top {
      button {
        background-color: transparent;
        color: $white;
        font-size: $fs-14;
        border: none;
        height: 44px;
        display: flex;
        gap: 18px;
        align-items: center;
        cursor: pointer;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }
      }
    }

    .head__content__pages {
      color: $white;
      margin-block-start: 25px;

      h2 {
        opacity: 0.5;
        margin: 0;
      }

      button {
        position: relative;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }

        span:last-child {
          position: absolute;
          right: 0;
          transition: all 300ms ease-in-out;
        }
      }
    }

    .head__content__apps {
      color: $white;
      margin-block-start: 25px;

      h2 {
        opacity: 0.5;
        margin: 0;
      }

      button {
        position: relative;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }

        .left {
          position: absolute;
          right: 0;
        }
      }
    }

    .head__content__components {
      color: $white;
      margin-block-start: 25px;

      h2 {
        opacity: 0.5;
        margin: 0;
      }

      button {
        position: relative;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }

        .left {
          position: absolute;
          right: 0;
        }
      }
    }

    .head__content__charts {
      color: $white;
      margin-block-start: 25px;

      h2 {
        opacity: 0.5;
        margin: 0;
      }

      button {
        position: relative;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }

        .left-icon {
          position: absolute;
          right: 0;
        }
      }
    }

    .head__content__documentation {
      color: $white;
      margin-block-start: 25px;

      button {
        position: relative;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        transition: width 300ms ease-in-out;

        &:hover {
          width: 228px;
          background-color: $dark-black;
          border-radius: 6px;
        }

        .left-icon {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  //Drop downs
  .dropdown__items {
    background-color: transparent;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all 300ms ease-in-out;

    li {
      &:hover {
        cursor: pointer;
      }
    }

    &.open-dropdown {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }

  .arrow__icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
  }
}
