//Colors
$dark-blue: hsl(228, 33%, 20%);
$white: hsl(0, 0%, 100%);
$light-white: hsl(0, 0%, 98%);
$dark-black: hsl(247, 22%, 25%);
$blue: hsl(210, 79%, 46%);
$orange: hsl(36, 100%, 69%);

//Fonts
$fs-14: 0.875rem; //14px
$fs-18: 1.125rem; //18px
$fs-32: 2rem; //32px
